body {
  z-index: 1;
  // opacity: 0.5;
}
.box {
  position: fixed;
  z-index: 2;
  top: 35vh;
  left: 38vw;
}

.control button {
  margin: 0 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
