body {
  font-size: 20px;
  font-weight: bolder !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

.box-1 {
  text-align: center;
  padding-top: 20px;
}

.box-1 h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(167, 167, 167);
}

.box-1 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  line-height: 10px;
  color: lightblue;
  font-size: 40px;
  text-transform: uppercase;
  padding: 20px 0px;
}

.box-1 img {
  max-width: 80%;
  margin: 30px;
  border-radius: 5px;
}

.box-2 {
  text-align: center;
  margin-top: 10px;
}

.para1 {
  padding-top: 10px;
  font-size: 200%;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}

.box-3 {
  text-align: center;
  color: black;
  text-decoration: underline;
  font-size: 100%;
  text-transform: uppercase;
}

/* GALLERY */
.gallery-wrap {
  padding: 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.gallery-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.gallery-item {
  position: relative;
  height: 360px;
  width: 420px;
  overflow: hidden;
  border-radius: 4px;
  align-items: center;
}

.gallery-item:hover img {
  opacity: 0.4;
  transition: 0.3s;
}
